.transition-area {
  background-color: #ccc;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 20%;
  }

  &:hover {
    .transition-child {
      left: calc(100% - 50px);
      background-color: green;
      opacity: 0.4;
    }
  }
}

.transition-child {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 2s linear 0s, background-color 2s linear 2s, opacity 2s linear 4s;
}

/*
  transition-property: all || margin || width || left || background-color || etc etc - CSS proprietati pe care vrem sa aplicam tranzitia lentă?
  transition-duration: <timp> - in secunde sau millisecunde, cat timp dureaza tranzitia
  transition-timing-function: ease || ease-in  || ease-in-out || ease-out || steps() || cubic-bezier() - functii de derulare \ accelerare a tranzitiilor
  transition-delay: <timp> - in secunde sau millisecunde, cat timp amânăm tranzitia
*/