@mixin fix-inline-blocks($fontsize: 16px) {
  font-size: 0;

  > * {
    display: inline-block;
    font-size: $fontsize;
  }
}

@mixin display-flex {
  display: flex;
}

%display-flex {
  display: flex;
}

.test-mixin-1 {
  @include display-flex();
}
.test-mixin-2 {
  @include display-flex();
}
.test-mixin-3 {
  @include display-flex();
}

.test-extends-1 {
  @extend %display-flex;
}
.test-extends-2 {
  @extend %display-flex;
}
.test-extends-3 {
  @extend %display-flex;
}

@function coef-to-percentage($coef) {
  @return $coef * 100%;
}

.test-function {
  margin-top: coef-to-percentage(0.2);
}

@mixin get-theme-colors($theme: 'light') {
  @if $theme == 'light' {
    background-color: #fff;
    color: #000;
  }
  @else if $theme == 'dark' {
    background-color: #000;
    color: #fff;
  }
}

.theme-light {
  @include get-theme-colors();
}

.theme-dark {
  @include get-theme-colors(dark);
}

$font-weights: (
  'thin': 100,
  'normal': 400,
  'bold': 700,
  'black': 900,
);

$primary-color: blue;
$secondary-color: #ccc;
$tertiary-color: #aaa;

$brand-colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'tertiary': $tertiary-color,
);


@each $name, $weight in $font-weights {
  .font-weight-#{$name} {
    font-weight: $weight
  }
}

@each $name, $color in $brand-colors {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

/*
  $list = [10, 20, 30, 40]
  $map = {
    primul: 10,
    doilea: 20,
    treilea: 30,
    patrulea: 40
  }

  $map['primul'] = 10


    */

// .sasha .theme-dark a {color: white}
// .sasha .theme-light a {color: black}







$image_path: '../images';
$fonts_path: '../fonts';

.test {
  background-image: url('#{$image_path}/filter.jpg');
}
