$images_path: '../images/';
$fonts_path: '../fonts/';

$header-height: 93px;
$sidebar-width: 232px;

$mobileLandscape: 575px;
$tablet: 768px;
$tabletLandscape: 992px;
$desktop: 1200px;
$desktopWide: 1400px;
